<h1>Your Pragmatic Catalog</h1>


<form action="/search" method="GET" class="row">
	<div class="form-group col-sm-10">
		<input type="text" class="form-control" id="search_word" name="search_word" placeholder="Search for...">
	</div>
	<button type="submit" class="btn btn-primary" id="search">Search</button>
</form>


<ul class="people_list">
	{{#each product}}
		<div class="entry">
			<img src="{{this.picture_url}}" alt="{{ this.title }}" height="100" width="100">
			<h3>{{ this.title }}</h3>  <span class="badge badge-secondary">{{this.category}}</span>
			<p>{{this.description}}</p>
			<div class="price_line">
				<span class="price">${{this.price}}</span>
				<button type="button" data-id="{{this._id}}" class="add_to_cart">Add</button>
			</div>
		</div>
		<br>
	{{/each}}
</ul>

