<h1>Your Pragmatic Catalog</h1>

<div class="col-lg-6">
	<form action="/search" method="GET">
		<div class="input-group">
			<input type="text" class="form-control" id="search_word" name="search_word" placeholder="Search for...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Search</button>
			</span>
		</div>
	</form>
</div>

<ul class="people_list">
	{{#each product}}
		<div class="entry">
			<img src="{{this.picture_url}}" alt="{{ this.title }}" height="100" width="100">
			<h3>{{ this.title }}</h3>
			<p>{{this.description}}</p>
			<div class="price_line">
				<span class="price">{{this.price}}</span>
				<button type="button">Add</button>
			</div>
		</div>
	{{/each}}
</ul>

